/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jun, 2020, 1:39:51 PM
    Author     : bsara
*/
*
{
    margin: 0;
    border:0;
}

.mainSelect

{
    height:40px;
    width: 150px;
    color:black;
    background-color: #2196F3;
    position: relative;
    margin-right: 25px;
    font-weight: bold;
    border-radius:5px;
}

.mainSelectDiv
{
    position: relative;
    margin:20px 0 0px 30px;
}

.mainHeader
{
    height:110px;
    background-color:#95CCF7;
    text-align: center;
}

.divForm{
    height:643px;
    width:100%;
    background-color:#2196F3;
}

.patientRegistrationTable
{
    margin: 0 auto;
    position: relative;
    top:20px;
font-size: 15px;
font-weight: bold;
width:500px;

}

input[type="submit"],input[type="reset"]
{
    width:100px;
    height:40px;
    font-size: 20px;
    border-radius: 10px;
}

input,textarea,select
{
    height:30px;
    width:200px;
}
